<div class="school">
  <h2>{{name}}</h2>
  <p>{{address}}</p>
</div>
<h2>Danh sách lớp</h2>
<classroom name = "T2110E" [numberofstudents]="5" [teacher] ="{name:'Tring Quang Hòa', age:30, tel:'03434884288', address:'8TTT'}"></classroom>
<classroom name = "T2111E" [numberofstudents]="6" [teacher] ="{name:'Nguyễn Tuấn', age:30, tel:'434234234', address:'8TTT'}"></classroom>
<classroom name = "T2112E" [numberofstudents]="7" [teacher] ="{name:'Bùi Anh Tuấn', age:30, tel:'098884343843248', address:'8TTT'}"></classroom>
<classroom name = "T2113E" [numberofstudents]="8" [teacher] ="{name:'Trần Đăng Khoa', age:30, tel:'0988888', address:'8TTT'}"></classroom>
<classroom name = "T2016E" [numberofstudents]="5" [teacher] ="{name:'Thẩm Dương', age:30, tel:'342324', address:'8TTT'}"></classroom>
