
<h2>Sĩ số lớp: {{numberofstudents}}</h2>
<input type="number" [(ngModel)]="numberofstudents" placeholder="Number of student" />
<teacher [name]="teacher.name" [age]="teacher.age" [tel]="teacher.tel" [address]="teacher.address"> </teacher>
<h3 [style]="color">Danh sach sinh vien {{name}}:</h3>
<student name="Bui Anh Tuan" tel="085926435900"></student>
<student name="jamstanger" tel="08593243300"></student>
<student name="Trần tiến Dũng" tel="085924242300"></student>
<student name="Ngô Đình Tùng" tel="08594353900"></student>
<student name="Nguyễn Tiến Anh" tel="0855344443300"></student>
